.Menu {
  position: relative;
  text-align: left;

}

.Menu__Items {
  list-style: none;
  /* display: flex;
    flex-direction: column; */
}

.Menu__Inside a {
  /* display: block; */
  width: 100%;
  margin: 0 1rem;
}

a {
  font-weight: 500;
  font-size: 1.3rem;
  color: #f6f6f6;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.Menu__Bar {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .Menu__Inside a {
    text-decoration: solid;

  }

  .Menu__Bar {
    display: none;
  }

  .header-container{
    margin: 0 2rem;
  }
}